<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">      
    <title>Quips and    Quotes :: <%=    controller.controller_name.capitalize %></title>    
     <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />     
      
     <!--   #stylesheet: add    my_styles using rails helper function (but not yet...)# -->      
        
     <%= javascript_include_tag 'application' %>    
      <%= csrf_meta_tag %> 
   </head>

  <body>
  <div id="wrap">       
  <div id="header">         
  <%= link_to(image_tag('quips_n_quotes.png'), home_path) %>         
  </div>        
  <br />         
  <div id="body"><%=    yield %>      
     </div>       
      <!--   <%= render partial: 'partials/footer' %>  -->  
      </div>
      </body>
</html>
